@inherits LayoutBase<rob.layout.representations.LayoutColumn>
@if (Layout?.tabGroup != null)
{
    foreach (var tabGroup in Layout.tabGroup)
    {
      <LayoutTabGroupView Layout="tabGroup"  Context="Context" />
    }  
}

@if(Layout?.fieldSet != null) 
{
    <p>property group should be here</p>
    foreach (var fieldSet in Layout.fieldSet)
    {
        <LayoutPropertyGroupView
            Context="Context"    
            Layout="fieldSet"
            />
    }
}

<!--
<app-property-group *ngFor="let fieldSet of FieldSets"
                    [Name]="fieldSet.name" 
                    [Context]="ObjectContext" 
                    [LayoutContext]="fieldSet">
</app-property-group>   

<div class='object-collections' >
    <span *ngFor='let collectionMember of collections'>
        <app-collection-button 
            [LayoutContext]='collectionMember' 
            [ObjectContext]='ObjectContext'>
        </app-collection-button>
    </span>     
</div> 
-->