@using rob.layout.representations
@inherits LayoutBase<LayoutFieldSet>

<!-- Display  -->
<div class="fieldSets" id="id1175">
    <fieldset class="memberGroup">
       <div class="panel panel-default">
          <div class="panel-heading">
             <span class="panel-title">@_title</span>
             <div class="pull-right additionalLinks">
                <div class="pull-right" id="associatedActionLinksPanel176">
                   <ul class="additionalLinkList additionalLinkListInline list-unstyled list-inline" id="additionalLinkList177">
                   @foreach (var action in _contextActions)
                      {
                          <LayoutActionView Action="action"/> 
                      }
                   </ul>
                </div>
             </div>
          </div>
          <div class="properties panel-body">
             @foreach (var property in _contextProperties)
             {
                <LayoutPropertyView Property="property"/>
             }
             <div>
             </div>
             <div>
             </div>
             <div>
             </div>
          </div>
       </div>
    </fieldset>
 </div>