@inherits LayoutBase<rob.Layout.LayoutColumn>
@if (Layout?.tabGroup != null)
{
    foreach (var tabGroup in Layout.tabGroup)
    {
      <LayoutTabGroupView Layout="tabGroup"  Context="Context"  Unreferenced="Unreferenced"/>
    }  
}

@if(Layout?.fieldSet != null) 
{
    foreach (var fieldSet in Layout.fieldSet)
    {
        <LayoutPropertyGroupView
            Context="Context"    
            Layout="fieldSet"
            Unreferenced="Unreferenced"
            /> 
    }
}

<div class='object-collections'>
    @if (Layout?.collection != null)
    {
        foreach (var coll in Layout?.collection)
        {
            <LayoutCollectionView Context="Context" Layout="coll" />
        }
    }
</div> 