@using rob.Pages.ObjectViews.Property;

@switch (_format)
   {
     case "string":
     case "long":
        <StringPropertyView Property="@Property" Name="@_friendlyName"/>
       break;
     case "javasqltimestamp":
       <p>timestampfieldview</p>
       break;
     // return  TimeStampFieldComponent;
     case "object":
       //return ObjectFieldComponentComponent;
       <p>objectfieldview</p>
       break;
     case "boolean":
       //return BooleanFieldComponent;
       <p>booleanfieldview</p>
       break;
     default:
       throw new InvalidOperationException("I don't know how to render " + _format);
   }