
<a  @onclick="InvokeAction" class="btn btn-sm btn-default noVeil" id="additionalLink15d" data-original-title="">
    <span class="fa fa-fw fa-plus fontAwesomeIcon"></span><span class="additionalLinkItem">@_name</span>
</a><span style="display:none;" class="wicket-ajax-indicator" id="additionalLink15d--ajax-indicator"><img src="../wicket/resource/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/indicator-ver-1506099754000.gif" alt="">
</span>