@using rob.Layout
@inherits LayoutBase<rob.Layout.LayoutTabGroup>

<div class="tabGroups tabbable">
    <ul class="nav nav-tabs">
        @if (Layout?.tab != null)
        {
            for (int i=0; i < Layout.tab.Length;i++)
            {
                int indexForClosure = i;
                LayoutTab tab = Layout.tab[i];
                <li  class="@listItemClass(indexForClosure)">
                    <a @onclick="@(() => SelectTab(indexForClosure))">
                        <span>@tab.name</span>
                    </a>
                </li>
            }
        }
    </ul>
    
    @if (SelectedTab != null)
    {
        <div class="tab-content">
            <div class="tabPanel">
            @foreach (var row in SelectedTab.row)
            {
                <LayoutRowView Layout="row" Context="Context" Unreferenced="Unreferenced"/>
            }
            </div>
        </div> 
    }
  
</div>