@using Blazor.Extensions.Logging
@using Microsoft.Extensions.Logging

 <div >
    <div class="fa fa-spinner fa-spin"></div>
    @foreach(var action in this.Context.members)
    {
        <MenuAction Context='action.Value'/>
    }
    @if(!NoDivision)
    {
        <li class="divider"> </li>
    }
</div>

@code {
    
    [Parameter]
    public bool NoDivision{get;set;}

    [Parameter]
    public ExtendedResourceList Context{get;set;}

    [Inject]
    protected ILogger<Banner> logger { get; set;}

    protected override void OnInitialized(){
        logger.LogInformation(Context);
    }

}