
@using Blazor.Extensions.Logging
@using Microsoft.Extensions.Logging
      <ul class="nav navbar-nav @listClass">
            <li class="dropdown ExportToWordMenu">
                <a class="dropdown-toggle" data-toggle="dropdown">
                 <span>@title</span>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu scrollable-menu multi-level" role="menu">
                        @for (var i=0; i < services.Count;i++)
                        {
                            var accion = services[i];
                            <li>
                                <MenuBarSection 
                          NoDivision='isLast(i)' 
                          Context='accion'/>
                            </li>
                        }
                </ul>
            </li>
        </ul>
@code{
    [Inject]
    protected ILogger<MenuBar> logger{get;set;}

    [Parameter]
    public string listClass{get;set;}

    [Parameter]
    public string title{get;set;}

    private IList<ExtendedResourceList> services {get;set;} = new List<ExtendedResourceList>();
    
    public void AddService(ExtendedResourceList link){
        services.Add(link);
        if(string.IsNullOrEmpty(title)){
            title = link.title;
        }
        StateHasChanged();
    }


  private bool isLast(int index)
  {
    return index == this.services.Count - 1;
  }
}


