@using Blazor.Extensions.Logging
@using Microsoft.Extensions.Logging
@using RestfulObjectApi.Representation.Types 
<li>
        <a class="menuLink noVeil" @onclick="onclickevent">
            <span class="fa fa-fw fa-list fontAwesomeIcon"></span><span class="menuLinkLabel">@friendlyName</span>
        </a>
    </li>
@code {
    [Inject]
    protected ILogger<MenuAction> logger{get;set;}
    [Inject]
    protected Api Api { get; set; }
    [Inject]
    protected ApacheIsisApi IsisApi { get; set; }
    [Inject]
    protected ActionInvocationService Invoker { get; set; }

    [Parameter]
    public Member Context{get;set;}
    private string friendlyName;
    private ActionDescription descriptor;

    private List action;

    public void onclickevent(){
        logger.LogInformation("----- on click ----");
        logger.LogInformation(Context.details);
    }


    protected override async Task OnInitializedAsync()
    {
        logger.LogInformation(Context);
           // get action resource
        action = await this.Api.Load<List>(Context.details);
        //infer ActionDescription from DescrubedBy
        descriptor = await this.Api.Load<ActionDescription>(action.DescribedBy); 
        friendlyName = descriptor.extensions.friendlyName;
        logger.LogInformation("descriptor");
        logger.LogInformation(descriptor);
    }
    public void InvokeAction(){
        Invoker.InvokeAction(Context);
    }
}
