
<li>
        <a class="menuLink noVeil" @onclick="InvokeAction">
            <span class="fa fa-fw fa-list fontAwesomeIcon"></span><span class="menuLinkLabel">@friendlyName</span>
        </a>
    </li>

