<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-footer">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-footer">
                    <form class="nav navbar-nav navbar-form navbar-left">
                        <span>
            <span class="breadcrumbPanel">
                <select tabindex="-1" class="autoComplete form-control select2-remote select2-hidden-accessible" style="width: 100%" name="theme:footer:breadcrumbs:breadcrumbs" id="id17" aria-hidden="true"></select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-labelledby="select2-id17-container"><span class="select2-selection__rendered" id="select2-id17-container"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
<!--
                <input wicket:id="breadcrumbs" type="hidden" class="autoComplete select2-remote" style="width: 100%; padding: 0" />
-->
            </span>
        </span>
                    </form>

                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <p class="navbar-text powered-by"></p>
                        <li>
                            
                        </li>
                        <li>
                            
                        </li>
                        <li>
                            
                        </li>
                        <li>
                            <a tabindex="-1" id="aboutLink" class="navbar-right" href="./wicket/bookmarkable/org.apache.isis.viewer.wicket.ui.pages.about.AboutPage">
                                <span class="aboutMessage">About</span>
                                
                            </a>

                        </li>
                        <li class="dropdown">
            <a href="#" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">Change theme <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a tabindex="-1" id="id3b" href="javascript:;">bootstrap-theme</a></li><li>
                    <a tabindex="-1" id="id3c" href="javascript:;">Cosmo</a></li><li>
                    <a tabindex="-1" id="id3d" href="javascript:;">Darkly</a></li><li class="active">
                    <a tabindex="-1" id="id3e" href="javascript:;">Flatly</a></li><li>
                    <a tabindex="-1" id="id3f" href="javascript:;">Sandstone</a></li><li>
                    <a tabindex="-1" id="id40" href="javascript:;">United</a></li>
            </ul>
        </li>
                    </ul>
                </div>
            </div>

            </footer>