@using Blazor.Extensions.Logging
@using Microsoft.Extensions.Logging

@inherits LayoutComponentBase
@inject Api api;

<div id="container" class="page container-fluid">
@if(homePage !=null)
{
    <rob.Pages.NavBar.Banner Context="homePage"/>
}
<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
<Footer/>
@code{
    [Inject]
    protected ILogger<MainLayout> logger{get;set;}

    protected HomePage homePage;
    protected override async Task OnInitializedAsync(){
        this.homePage = await api.LoadHomePage();
        logger.LogInformation(homePage);
    }
}
</div>